@import url("/fonts/ProbaNav2.css");

:root{
  --grid-margin: 20px;
}

body {
  font-family: "ProbaNav2", sans-serif;
  background-color: #111111;
  margin: 0;
}

a {
  color: rgb(13, 110, 253);
  text-decoration-color: rgb(13, 110, 253);
}

.section {
/*  min-height: 100vh;*/
  height: 1100px;
  overflow: hidden;
}

.masonry-section {
/*  height: 100vh;*/
  overflow: hidden;
  position: relative;
}

.masonry-section .loud {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
  width: 70vw;

  text-align: center;
  color: white;
  font-size: calc(100vw/15);
  line-height: 110%;
  font-weight: 700;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50);

}
@media (max-width: 768px) {
  .masonry-section .loud {
    font-size: calc(100vw/6);
    width: 90vw;
  }
}

/*.section h1, p  {
  margin: 25px 20px 0px;
}*/

.bg-white {
  background-color: white;
}

.bg-fontdrop{
  background-color: #FAF9F7;
}

.w-100 {
  max-width:100%;
  height:auto;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: 1fr 0px auto 1fr;
/*  grid-template-rows: auto-fill,300px,auto-fill;*/
/*  grid-auto-rows: 100px;*/
  gap: var(--grid-margin);
  grid-template-areas:
    "a a a a b b b b"
    "c c c f f d d d"
    "c c c f f d d d"
    "c c c e e d d d";
  align-items: start;
/*  height: 100vh;*/
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "a a a a b b b b"
      "c f f f f f f d"
      "c f f f f f f d"
      "c c c e e d d d";
  }
}


.item{
/*  background-color: dimgrey;*/
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
/*  border-radius: 4px;*/
}

.img-row {
  display: flex;
/*  align-items: flex-start;*/
  justify-content: inherit;
  flex-wrap: nowrap;
  gap: var(--grid-margin);
/*  width: 600px;*/
}

.item1 {
  grid-area: a;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--grid-margin);
}

.item2 {
  grid-area: b;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--grid-margin);
}


.item3 {
  grid-area: c;
  display: flex;
/*  flex-direction: row-reverse;*/
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--grid-margin);
}

.item4 {
  grid-area: d;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--grid-margin);
}

.item5 {
  grid-area: e;
/*  display: flex;*/
/*  grid-template-columns: fit-content(3ch) fit-content(8ch) 1fr;*/
/*  align-items: flex-start;*/
/*  justify-content: flex-start;*/
/*  gap: var(--grid-margin);*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--grid-margin);
}

.item5 > img {
    width:100%;
    object-fit: cover; /* or "contain" */
}

.item6 {
  grid-area: f;

  position: relative;

  width: 800px;
  height: 535px; 

  background-color: #fff;
  border-radius: 8px;

}

.font-block{
  padding: 0 50px 35px;
  z-index: 1;
}

.font-block h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.font-block p {
  font-size: 20px;
  line-height: 140%;
/*  max-width: 40rem;*/
  margin: 10px 0;
}

.font-block .btn {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  background-color: #111;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

/*.font-block .logo{*/
.logo{
  position: absolute;
  top: 0;
  right: 35px;
  height: 50px;
}

.licence {
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-color: #C1D8EE;
  font-size: 14px;
/*  width: 100%;*/
  padding: 14px 50px;
  border-radius: 0 0 8px 8px;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;

}

.licence p {
  margin: 2px 0;
}

.licence a {
  color: black;
  text-decoration-color: black;
}


.col-3 {
  padding: 1rem 3rem 1rem 2rem;
/*  display: grid;*/
/*  grid-template-rows: repeat(2, auto);*/
/*  grid-template-columns: 2;*/
/*  grid-gap: 50px;*/
/*  grid-auto-flow: column;*/
}
/*@media (max-width: 768px) {
  .col-3 {
    display: block;
  }
}*/

.col-3 p {
  margin-block: 0;
  margin-inline: 0;
  margin: 0 auto 1rem;
/*  max-width:85%;*/
}

.preview{
  font-size: 2.5rem;
  line-height: 110%;
}
@media (max-width: 768px) {
  .preview {
    font-size: 1.5rem;
  }
}


.fontname{
  font-weight: 400;
  color: #58c773;
  font-size: 0.8rem !important;
  padding: 0 0 0 0.2em;
}
@media (max-width: 768px) {
  .fontname {
    font-size: 0.75em;
  }
}
.fw100 {font-weight: 100;}
.fw200 {font-weight: 200;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw700 {font-weight: 700;}
/*.fw800 {font-weight: 800;}
.fw900 {font-weight: 900;}*/


.masonry-container {
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
    
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;

/*  position: relative;*/
}
@media (max-width: 768px) {
.masonry-container {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
    
  }
}

.masonry-item {
  display: inline-block;
  width: 100%;
  margin-bottom: -4px;
  opacity: 0.7;
}

.masonry-item:hover {
  opacity: 1;
  
  -webkit-animation: fadeInFromNone 0.5s ease-out;
     -moz-animation: fadeInFromNone 0.5s ease-out;
       -o-animation: fadeInFromNone 0.5s ease-out;
          animation: fadeInFromNone 0.5s ease-out;
}
.masonry-item img {
  display:block;
  width: 100%;
  border-radius: 4px;
}


@keyframes fadeInFromNone {
    0% {
        opacity: 0.7;
    }

    100% {

        opacity: 1;
    }
}


#glyph-preview {
  font-size: 40px;
/*  margin: 30px;*/
/*  margin: 1rem auto;*/
  padding: 4rem 3rem 1rem 2rem;
  line-height: 1.5;
}

.glyph-container {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.glyph-name {
    font-size: 9px;
    margin-top: 4px;
}

.glyph {
    display: inline-block;
    margin: 2px;
    border: 1px solid #ddd;
  border-radius: 4px;
    padding: 4px;
  width: 60px;
  height: 60px;
  text-align: center;
}

@media (max-width: 768px) {
  #glyph-preview {

/*    margin: 10px;*/

  }
  .glyph-container {
/*    margin: 3px;*/
  }
}
